
    
 <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">


      

          <div class="col-lg-8 col-md-10 mx-auto">
            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Retorne ao topo" data-toggle="tooltip" data-placement="left"><i class="fa fa-arrow-up" aria-hidden="true"></i>
            </a>
            <ul class="list-inline text-center">
              {% include contact.html %}
            </ul>
            <p class="copyright text-muted">Copyright &copy; {{site.copyright_name}}, {{ site.time | date: '%Y' }}</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ '/vendor/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/vendor/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ '/vendor/jquery-easing/jquery.easing.min.js' | prepend: site.baseurl }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ '/js/resume.min.js' | prepend: site.baseurl }}"></script>

<script type="text/javascript">
  $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

}); 

</script>