    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="{{'/#page-top' | prepend: site.baseurl }}">
        <span class="d-block d-lg-none">{{site.title}}</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ site.avatar }}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#about' | prepend: site.baseurl }}">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#experience' | prepend: site.baseurl }}">Experiência</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#education' | prepend: site.baseurl }}">Educação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#skills' | prepend: site.baseurl }}">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#interests' | prepend: site.baseurl }}">Interesse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/#certifications' | prepend: site.baseurl }}">Certificações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a>
          </li>
        </ul>
      </div>
    </nav>
