---
layout: default
---

<!-- Blog Section -->

  	<div class="row">
      <div class="container">
         <section class="resume-section p-3 p-lg-5 d-flex d-column" id="post">
          <div class="my-auto">
            <h1 class="mb-0">{{page.title}}
            </h1>
            {% if page.subtitle %}
              <h3 class="mb-5">
                {{page.subtitle}}
              </h3>
            {% endif %}
           <span class="meta">Por
                  <a href="{{site.baseurl}}/pesquisar/?q={{page.author | slugfy}}">{{page.author}}</a>
                  em {{ page.date | date: "%d %b %Y" }}
                  <i class="fa fa-folder-open" aria-hidden="true"></i>
                  {% for category in page.categories %}
                    <a href="{{site.baseurl}}/pesquisar/?q={{category | slugfy}}">
                      {{category}}{% unless forloop.last %}, {% endunless %}
                    </a>
                  {% endfor %} 
            </span>
          </div>
        </section>
      </div>
    </div>



<!-- Main Content -->
     <!-- Post Content -->
    <article>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
        	{{content}}

          <div class="clearfix">
              <p>Tópicos:
                {% for tag in page.tags %}
                  <a href="{{site.baseurl}}/pesquisar/?q={{tag | slugfy}}" class="badge badge-light">{{tag}}</a>
                {% endfor %}
              </p>
            </div>

          </div>


        </div>
    </article>

    {% if page.comments %}
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="clearfix">
            <div class="comments">
                {% include disqus.html %}
            </div>
            <hr>
          </div>
          
        </div>
      </div>

    {% endif %}
<!-- End Blog Section -->

    <div class="clearfix">
      
      {% if page.previous.url %}
        <a  class="btn btn-primary" href="{{ page.previous.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
          &larr; Post Anterior
        </a>
      {% endif %}


      {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
         Próximo Post &rarr;
        </a>
      {% endif %}


    </div>
<hr>